#employeeform {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>div {
        // TODO : Remove temp width
        width: 300px;
    }

    fieldset {
        margin-top: 10px;
    }

    button {
        margin-top: 16px;
    }
}