#employeeform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    h2 {
        margin: 0;
    }

    &>div {
        // TODO : Remove temp width
        display: flex;

        &>* {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
        }
    }

    select {
        width: 158px;
    }

    fieldset {
        margin-top: 10px;
        border-color: #8BC34A;
    }

    #error {
        color: red;
        margin-top: 24px;
    }

    button {
        margin-top: 24px;
        background-color: #8BC34A;
        border: none;
        border-radius: 5px;
        padding: 5px 30px;
        font-size: 16px;

        &:not(:active) {
            box-shadow: 0 5px 0 #56792e;
            transform: translateY(-5px);
        }
    }
}