#employeelist {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
    }

    table {
        border-collapse: separate;
        border-spacing: 10px 5px;

        thead {
            user-select: none;

            th {
                border-bottom: 1px solid #8BC34A;
            }
        }

        tr:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}